<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>信息编辑</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>

<p style="color:white;background-color:#87cefa;font-size:24px;text-align:center;font-family:Simsun;font-weight:bold;line-height:45px;" id="title_name" >信息登录</p>

<form id="editForm" method="get" style="text-align:center;" class="form-horizontal" action="/doSearch">
	<div class="form-group">
		<label style="font-size:24px;text-align:center;line-height:45px;" class="control-label">请输入您的工号：</label>
		<input type="text" name="workNo" style="font-size:20px;margin-left:10px;width:150px;text-align:center;line-height:22px;" class="form-control" id="userSex" placeholder=""/>
	</div>
	<button type="submit" class="buttonStyle">查询</button>
</form>
<form id="editForm" method="get" style="text-align:center;" class="form-horizontal" action="/doIndexPage">
	<button type="submit" class="buttonStyle">返回</button>
</form>
</body>
</html>